* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    background-color: #F6F6F6;
    margin: 0;
    padding: 0;

}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: top 0.3s ease;
}

.header.visivel {
    top: -100px;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    padding-right: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-baixar {
    background-color: #E82C2C;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow: 0px 3px 3px 2px #333;
}

.btn-baixar:hover {
    background-color: #870000;
}

.mudarposição {
    margin: 0px 200px;
    margin-top: 10px;
}



.content {
    display: flex;
    align-items: center;
    padding: 40px;
    margin-top: 15px;
    width: 100%;
}

.text-section {
    flex: 1;
    max-width: 50%;
}

.text-section h2 {
    font-size: 80px;
    color: #333;
    margin-bottom: 20px;
}

.text-section .highlight {
    color: #E82C2C;
}

.text-section h3 {
    font-size: 33px;
    color: #333;
    margin-bottom: 20px;
}

.text-section p {
    font-size: 23px;
    color: #414141;
    line-height: 1.5;
    margin-bottom: 20px;
}

.btn-download {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 15px 28px;
    font-size: 26px;
    cursor: pointer;
    border-radius: 9px;
    margin-bottom: 10px;
    box-shadow: 0px 5px 5px 5px #333;
}

.btn-download:hover {
    background-color: #870000;
}

.disponivel-em {
    display: flex;
    align-items: center;
    color: #414141;
    font-size: 26px;
}

.icons {
    margin-left: 5px;
    align-items: center;
}


.image-section {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-section img {
    width: 100%;
    max-width: 900px;
    border-radius: 10px;
    background-color: #E82C2C;
    box-shadow: 10px 10px 10px 0px darkred;
}




/* IMPORTANTE */

.hidden {
    opacity: 0;
    transition: opacity 0.9s ease;
}

.visivel {
    opacity: 1;
}


.seta-baixo {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid #a80000;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    opacity: 1;
    transition: opacity 0.3s ease;
    animation: pulse 1.5s infinite;
}

.seta-baixo.visivel {
    opacity: 0;
}


@keyframes pulse {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

::-webkit-scrollbar {
    width: 14px;

}

::-webkit-scrollbar-thumb {
    background-color: #a80000;



}

::-webkit-scrollbar-track {
    background-color: white;
    width: 10px;

}

/* PAGINA2 */

.pag2 {
    margin-bottom: 0;
    margin-top: 0;

}

.box1 {

    padding: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 80px;
    padding-right: 80px;
    padding: fixed;
    background-color: #E82C2C;
    color: white;
    margin: 90px;
    margin-top: -30px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.box2 {
    padding: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #E82C2C;
    color: white;
    margin: 90px;
    margin-top: -30px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.box3 {
    padding: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 65px;
    padding-right: 65px;
    background-color: #E82C2C;
    color: white;
    margin: 90px;
    margin-top: -30px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(24, 24, 24, 0.2);

}

.box1 img, .box2 img, .box3 img {
    width: 70px;
}

.box1:hover {
    transform: scale(1.05);
}

.box2:hover {
    transform: scale(1.05);
}

.box3:hover {
    transform: scale(1.05);
}

.box {
    padding: 30%;
    padding-bottom: 0%;
    margin: 60px;
    border-radius: 20px;
    background-color: rgb(250, 220, 220);
    margin-top: -100px;
    margin-left: 180px;
    margin-right: 180px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.bnt-page2 {
    align-items: center;
    margin-left: 46%;
    margin-top: -20px;
    margin-bottom: 20px;
}


/* PAGINA3 */



.container3 {
    margin-top: 60px;
    margin: 0 200px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}

.texto3 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;

}

.highlight3 {
    color: #E82C2C;
}

.display-area3 {
   
    margin: 62px;
    width: 90%;
    height: 400px;
    border: none;
    overflow: hidden;
    border-radius: 20px;

    }

    

   

.button-container3 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

.button3 {
    background-color: #E82C2C;
    width: 330px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
}

.button3:hover {
    transform: scale(1.05);
    background-color: rgb(180, 2, 2);
    
}

.button-number3 {
    font-size: 20px;
    display: flex;;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}


.img3number{
    width: 150%;
    
    
}


.imgpag3_3{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 130px;
    
}


.imgpag3_2{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 120px;
    
}


.imgpag3_1{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 130px;
    
}





/* ULTIMAPAGINA */


.conteudoF {
    font-family: Arial, sans-serif;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.conteudofinal {
    text-align: center;
    padding: 200px;

}

.logo .logoF {
    width: 120px;
    margin-left: 1px;
    margin-top: 20px;

}

.textoFH1 {
    color: #ff0000;
    font-size: 86px;
    font-weight: bold;
}

.textoFH2 {
    font-size: 44px;
    margin: 10px 0;
    color: #414141;
}

.textoP1 {
    font-size: 36px;
    color: #414141;
    max-width: 600px;
    margin: 20px auto;
    line-height: 1.5;
}

.btn-download2 {
    background-color: #ff0000;
    box-shadow: 6px 6px 2px 2px #333;
    color: white;
    border: none;
    padding: 15px 28px;
    font-size: 36px;
    cursor: pointer;
    border-radius: 9px;
    margin-bottom: 10px;
}

.btn-download2:hover {
    background-color: #870000;
}

/* PAGINA 4 */

.pag4 h1 {
    font-size: 48px;
    background: linear-gradient(90.51deg, #FF0000 0.44%, #990000 57.02%);
    -webkit-background-clip: text;
    color: transparent;
    margin-left: 34%;
}

.pag4 {
    display: flex;
    
}


/* FOOTER */


.conteudofinal {
    text-align: center;
    padding: 50px 20px;
    margin-bottom: 30px;
}

footer {
    background-color: #ff0000;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    width: 100%;
    position: relative;
    box-shadow: 0px 300px 300px 300px rgb(113, 10, 10);
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social {
    margin-top: 10px;
}

.footer-social a img {
    width: 20px;
    filter: invert(100%);
}