/* ==================================================
    CONFIGURAÇÕES GERAIS
================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--Whitebackground);
    transition: background 0.2s linear;
}

h1,
h2,
h3,
h4 {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

:root {
   --Whitebackground: #fff;
   --Whitetext: #fff;
   --Blackbackground: #333;
   --blacktext: #333;
   --headerwhite: #fff;
   
   
}
/* ==================================================
    HEADER
================================================== */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 1000;
    background-color: var(--headerwhite);
    box-shadow: 4px 2px rgba(0, 0, 0, 0.11);
    transition: color 0.2s linear;
    transition: top 0.3s ease;
}

.header.visivel {
    top: -100px;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logoIcon {
    width: 100px;
    margin-top: 18px;
    justify-content: space-between;
    margin-left: -25px;
}

#Header-Titlte {
    color: #E82C2C;
    font-size: 45px;
    font-family: Arial;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 10px;
    margin-left: -5px;
    margin-top: 15px;
}

.btn-baixar {
    background-color: #E82C2C;
    color: white;
    border: none;
    padding: 10px 30px;
    margin-left: 800px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow: 0px 3px 3px 2px #333;
    transition: background-color 0.3s ease;
}

.btn-baixar:hover {
    background-color: #870000;
}

/* ==================================================
    PAGINA 1
================================================== */
.content {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 20px;

    gap: 40px;
    align-items: center;
    justify-content: center;
}

#Description {
    font-size: 70px;
    
}

.text-section {
    flex: 1;
    max-width: 50%;
    margin-top: 20px;
}

.text-section  {
    font-size: 80px;
    color: var(--blacktext);
    margin-bottom: 20px;
}

.text-section .highlight {
    color: #E82C2C;
}

.text-section  {
    font-size: 23px;
    color: var(--blacktext);
    line-height: 1.5;
    margin-bottom: 20px;
    
}

.btn-download {
    background-color: #ff0000;
    color: var(--Whitetext);
    border: none;
    padding: 15px 28px;
    margin-top: 30px;
    font-size: 26px;
    cursor: pointer;
    border-radius: 9px;
    margin-bottom: 10px;
    box-shadow: 0px 5px 5px 5px #333;
    transition: background-color 0.3s ease;
}

.btn-download:hover {
    background-color: #870000;
}

.image-section {
    flex: 1;
    max-width: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-section img {
    width: 100%;
    max-width: 900px;
    border-radius: 10px;
    background-color: #E82C2C;
    box-shadow: 10px 10px 10px 0px darkred;
}

.disponivel-em {
    font-size: 19px;
    margin-left: 3px;
}


.icon {
    margin-top: 5px;
    width: 25px;
    height: auto;
}



#icon {
    width: 25px;
    height: auto;
}

/* ==================================================
    ANIMAÇÕES
================================================== */
.hidden {
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
    transition: opacity 0.6s ease, transform 0.6s ease, visibility 0s 0.6s;
}

.visivel {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    transition: opacity 0.6s ease, transform 0.6s ease, visibility 0s 0s;
}


.hidden2 {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease, visibility 0s 0.6s;
}

.visivel2 {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    transition: opacity 0.6s ease, transform 0.6s ease, visibility 0s 0s;
}


/* ==================================================
    SETA
================================================== */
.seta-baixo {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid #a80000;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    animation: pulse 1.5s infinite;
}

.seta-baixo.visivel {
    opacity: 1;
}

@keyframes pulse {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

/* ==================================================
    PAGINA 2
================================================== */
.pag2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 60px 20px;
    margin-bottom: 70px;
}

.box {
    width: 900px;
    height: 450px;
    padding-bottom: 0%;
    margin-left: 300px;
    border-radius: 20px;
    background-color: #E82C2C;
    fill-opacity: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.box1 {
    background-color: #FF0000;
    color: var(--Whitetext);
    width: 320px;
    height: 150px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.box1:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.box1 img {
    width: 110px;
    height: auto;
    margin-top: 20px;
}

.Iconspag2{
    margin-top: 20px;
    color: rgb(204, 202, 202);
}

.ContentBox1 {
    color: var(--Whitetext);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.text-content {
    flex: 1;
}

#content-title {
    margin: 0;
    margin-left: 30px;
    margin-top: 25px;
    font-size: 33px;
}

#content-text {
    margin: 20px;
    margin-top: 20px;
    font-size: 21px;
    text-align: justify;
}

#content-logo {
    margin-left: 10px;
    width: 130px;
    height: auto;
    margin-top: 40px;
}

#content-image {
    width: 450px;
    height: auto;
    margin-left: 20px;
    margin-top: 15px;
    flex-shrink: 0;
}

.fade {
    animation: fadeOut 0.5s forwards;
}

.fadeIn {
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



/* ==================================================
    PAGINA 3
================================================== */
.container3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
    

}

.button-container3 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.button3 {
    background-color: #E82C2C;
    width: 80%;
    height: 80%;
    color: var(--Whitetext);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    text-align: left;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.highlight3 {
    color: #E82C2C;
}

.imgpag3 {
    max-width: 70px;
    max-height: auto;
    margin-right: 30px;
    margin: 10px;
    margin-left: 10px;
}

.button3:hover {
    transform: scale(1.05);
    background-color: #c00404;
}

.display-area3 {
    width: 850px;
   
    background-color: #111;
    border: none;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    margin-left: 90px;

}

.Icons{
    margin-left: 10px;
    margin-top: 10px;
   
    
}

.texto3{
    color: var(--blacktext);
    margin-top: 120px;
}

.indicators {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 100px;
}

.indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: red; 
}



/* ==================================================
    PAGINA 4
================================================== */
.pag4 h1 {
    font-size: 48px;
    background: linear-gradient(90.51deg, #FF0000 0.44%, #990000 57.02%);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 30px;
}

.pag4 {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: -30px;
}

.accordian {
    background-color: #E82C2C;
    color: var(--Whitetext);
    width: 70%;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    overflow: visible;
    transition: height 0.3s ease-out;
}

.accordian h4 {
    margin-bottom: 30px;
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    
}

.icon {
    margin-right: 16px;
    transition: transform 0.2s;
}

.icon.active {
    transform: rotate(-180deg);
}

.answer {
    color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.perg.active {
    background-color: #E82C2C;
}

.question .active .answer {
    opacity: 1;
}


/* ==================================================
    PAGINA FINAL
================================================== */
.conteudoF {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 90px 20px;
}

.LogoF {
    margin-top: -60px;
    margin-bottom: -40px;
}

.textoFH1 {
    color: #ff0000;
    font-size: 86px;
    font-weight: bold;
}

.textoFH2 {
    font-size: 44px;
    margin: 10px 0;
    color: var(--blacktext);
}

.textoP1 {
    font-size: 36px;
    color: var(--blacktext);
    max-width: 600px;
    margin: 20px auto;
    line-height: 1.5;
}

.btn-download2 {
    background-color: #ff0000;
    box-shadow: 6px 6px 2px 2px #333;
    color: var(--Whitetext);
    border: none;
    padding: 15px 28px;
    font-size: 36px;
    cursor: pointer;
    border-radius: 9px;
    margin-top: 20px;
    margin-bottom: -15px;
    transition: background-color 0.3s ease;
}

.btn-download2:hover {
    background-color: #870000;
}

/* ==================================================
    FOOTER
================================================== */
footer {
    background-color: #ff0000;
    color: var(--Whitetext);
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    box-shadow: 0 10px 100px 100px rgba(99, 6, 6, 0.1);
    margin-bottom: 0;
}

.footer-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social a img {
    margin-top: 5px;
    width: 30px;
    filter: invert(100%);
}

/* ==================================================
    SCROLL
================================================== */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #a80000;
    border-radius: 0.5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

 /* MODO ESCURO */

 .checkbox {
    opacity: 0;
    position: absolute;
 }

 .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
    margin-right: 60px;
 }

 .label .ball{
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
 }

 .checkbox:checked + .label .ball{
    transform: translateX(24px);

 }

 .fa-moon{
    color: #f1c40f;
 }

 .fa-sun{
    color: #f39c12
 }




 